# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [4]:
# Set the date column as the DataFrame index
new_df=df.set_index("date")
new_df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [5]:
# Drop the date column
new_df.reset_index(drop=True, inplace=True)

In [6]:
new_df

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [7]:
from scipy import stats

In [8]:
# Filter data for desired months
June_df = df.loc[df['date'].dt.month  == 6]
June_avg = pd.DataFrame(June_df.groupby('station')['tobs'].mean())
June_avg

                  tobs
station
USC00511918  74.139394
USC00513117  74.050847
USC00514830  76.005376
USC00516128  71.937220
USC00517948  76.655405
USC00518838  73.394737
USC00519281  73.271186
USC00519397  77.559322
USC00519523  76.668103

In [9]:
# Identify the average temperature for June
June_avg_temp=June_avg['tobs'].mean()
June_avg_temp

74.85351018249017

In [10]:
# Identify the average temperature for December
December_df = df.loc[df['date'].dt.month  == 12]
December_avg = pd.DataFrame(December_df.groupby('station')['tobs'].mean())
December_avg

                  tobs
station
USC00511918  69.684211
USC00513117  71.069444
USC00514830  73.224719
USC00516128  69.291262
USC00517948  71.834862
USC00518838  72.421053
USC00519281  69.903226
USC00519397  71.109524
USC00519523  72.433333

In [11]:
December_avg_temp=December_avg['tobs'].mean()
December_avg_temp

71.21907046377945

In [12]:
# Create collections of temperature data
December_list=December_avg['tobs']
December_list

station
USC00511918    69.684211
USC00513117    71.069444
USC00514830    73.224719
USC00516128    69.291262
USC00517948    71.834862
USC00518838    72.421053
USC00519281    69.903226
USC00519397    71.109524
USC00519523    72.433333
Name: tobs, dtype: float64

In [13]:
June_list=June_avg['tobs']
June_list

station
USC00511918    74.139394
USC00513117    74.050847
USC00514830    76.005376
USC00516128    71.937220
USC00517948    76.655405
USC00518838    73.394737
USC00519281    73.271186
USC00519397    77.559322
USC00519523    76.668103
Name: tobs, dtype: float64

In [14]:
# Run paired t-test
stats.ttest_rel(June_list,December_list)

Ttest_relResult(statistic=6.95696617044294, pvalue=0.00011759380231523222)

### Analysis